.Button {
  width: 100%;
  padding: 10px;
  border-radius: 24px;
}
.Show {
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
  padding: 2vmin 25vmin 2vmin 25vmin;
  cursor: pointer;
}

.Show:hover {
  transition: all 0.5s ease-in;
  background-color: rgba(0, 0, 0, 0.3);
}
.Swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 2em;
  padding: 0;
  margin: 0;
  color: rgba(84, 84, 84, 0.521);
  text-align: center;
  border-radius: 50%;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Swiper:hover {
  color: orange;
}

@media all and (max-width: 767px) {
  .Swiper {
    display: none;
  }
}
