.main {
  display: flex;
  justify-content: center;
  padding: 2vmin 0 2vmin 0;
  background-image: url("https://images.pexels.com/photos/220072/pexels-photo-220072.jpeg?cs=srgb&dl=pexels-pixabay-220072.jpg&fm=jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
